_book/
_ebook/
output/
node_modules/
/MyProject.Core/obj
/MyProject.Core/bin
/MyProject.EntityFrameworkCore/obj
/MyProject.EntityFrameworkCore/bin
/DotNetCoreWeb/obj
/DotNetCoreWeb/bin
/DotNetCoreWebApi/obj
/DotNetCoreWebApi/bin
.vs/
/XUnitTestProject/bin/Debug/netcoreapp2.2
/XUnitTestProject/obj
/DotNetEx/bin
/DotNetEx/obj
/Ace/bin
/Ace/obj

