_book/
_ebook/
output/
node_modules/
/MyProject.Core/obj
/MyProject.Core/bin
/MyProject.EntityFrameworkCore/obj
/MyProject.EntityFrameworkCore/bin
/DotNetCoreWeb/obj
/DotNetCoreWeb/bin
/DotNetCoreWebApi/obj
/DotNetCoreWebApi/bin
.vs/
/XUnitTestProject/bin/Debug/netcoreapp2.2/XUnitTestProject.deps.json
/XUnitTestProject/bin/Debug/netcoreapp2.2/XUnitTestProject.dll
/XUnitTestProject/bin/Debug/netcoreapp2.2/XUnitTestProject.pdb
/XUnitTestProject/bin/Debug/netcoreapp2.2/XUnitTestProject.runtimeconfig.dev.json
/XUnitTestProject/bin/Debug/netcoreapp2.2/XUnitTestProject.runtimeconfig.json
/XUnitTestProject/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
/XUnitTestProject/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
/XUnitTestProject/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/XUnitTestProject/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/XUnitTestProject/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/XUnitTestProject/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.AssemblyInfo.cs
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.AssemblyInfoInputs.cache
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.Program.cs
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.assets.cache
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.csproj.CoreCompileInputs.cache
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.csproj.FileListAbsolute.txt
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.dll
/XUnitTestProject/obj/Debug/netcoreapp2.2/XUnitTestProject.pdb
/XUnitTestProject/obj/XUnitTestProject.csproj.nuget.cache
/XUnitTestProject/obj/XUnitTestProject.csproj.nuget.g.props
/XUnitTestProject/obj/XUnitTestProject.csproj.nuget.g.targets
/XUnitTestProject/obj/project.assets.json
